@charset "utf8";

* { box-sizing: border-box; }

#macjjuni {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
a {
    color: inherit;
    text-decoration: none;
} 
header, main, footer {
    padding: 0 12px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 27px;
}
