section {
  position: relative;
}

.spin {
  width: 300px;
  height: 300px;
  margin: 50px;
  animation: spinAni 10s linear infinite;
  border-radius: 50%;
  overflow: hidden;
}



@keyframes spinAni {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}